[submodule "libs/rapidjson"]
	path = libs/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest
[submodule "libs/openssl"]
	path = libs/openssl
	url = https://github.com/janbar/openssl-cmake
[submodule "libs/zlib"]
	path = libs/zlib
	url = https://github.com/Lygaen/zlib
[submodule "libs/lua-cmake"]
	path = libs/lua-cmake
	url = https://github.com/lubgr/lua-cmake
[submodule "libs/LuaBridge3"]
	path = libs/LuaBridge3
	url = https://github.com/kunitoki/LuaBridge3
